@charset "utf-8";

*{
    line-height:1.5;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

ul{
    list-style-type:none;
    margin:0px;
    padding:0px;
}

body{
    padding:0px;
    margin:0px;
}

td, th{
    border:1px solid #333333;
    padding:10px;
}

th{
    background:#CCCCCC;
    text-align: center;
}

table{
    border-collapse:collapse;
    width:800px;
    margin-top:20px;
}

td input[type=text]{
    width:90%;
}

textarea{
    width:90%;
}

header{
    background-color: #cccccc;
    border-bottom: 1px solid #999999;
    clear:both;
    overflow: hidden;
    padding:0px 0px 20px 20px;
}

header p{
    margin:0px;
    padding:0px;
}

header h3{
    clear:both;
    margin:0px;
    padding:0px;
    margin-top: 5px;
}

header ul{
    margin:0px;
    padding:10px;
    margin-left:20px;
    list-style: none;
    overflow: none;
    clear:both;
}

header ul li{
    float:left;
    margin-right:20px;
}

div#contents{
    padding:10px;
}

ul.paging{
    margin-bottom:10px;
    overflow:hidden;
}

ul.paging li{
    float:left;
    margin-left:10px;
}

ul.paging li a{
    padding:10px;
    display:block;
    border:1px solid #6699ff;
}

ul.paging li a:hover{
    background:#0000ff;
    color:#ffffff;
}

ul.paging li a.selected{
    background:#cccccc;
}